html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    flex-flow: column;
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
}

input::selection {
    background: #D8DADC; /* WebKit/Blink Browsers */
}

input::-moz-selection {
    background: #D8DADC; /* Gecko Browsers */
}

div::selection {
    background: #D8DADC; /* WebKit/Blink Browsers */
}

div::-moz-selection {
    background: #D8DADC; /* Gecko Browsers */
}

textarea:focus {
    outline: none;
}

.blur {
    filter: blur(3px);
}

.link {
    text-decoration: underline dotted;
    cursor: pointer;
}

.flex {
    display: flex;
}

.flexSize {
    flex: 1;
}

.flexCenter {
    align-items: center;
    justify-content: center;
}

.flexCol {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.mrtop {
    margin-top: 8px
}

    .control.select {
        cursor: pointer;
    }

    .control.text {
        cursor: text;
    }

    .control.text.wide {
        width: 100%;
    }

input[type="text"] {
    padding: 2px;
    cursor: text;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
    padding: 14px 12px 10px 12px;
}

#mainCont {
    flex: 1;
}

#configState .custom-button-container {
    width: 100%;
}

#errorWrapper {
    background-color: #ffffff;
    padding: 10px 12px;
}

#docsWrapper {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    margin-top: 17px;
}

#docsHolder {
    width: 100%;
}

#selectedWrapper:not(.hidden) {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    font-size: 10px;
    max-height: 33px;
    margin-top: 14px;
}

#selectedHolder {
    width: 100%;
    overflow-y: hidden;
}

#selectedInfo:not(.hidden) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

#searchWrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 13px;
}
    #searchWrapper .input-field-container-searchField {
        width: 207px;
    }
    #searchWrapper .selectbox-container {
        position: absolute;
    }
        #searchWrapper .selectbox-container .selectbox-header {
            opacity: 0;
        }
#searchField {
    width: 207px;
}

#controlsHolder {
    padding-top: 4px;
    overflow-y: visible;
}
    #controlsHolder button {
        margin-top: 8px;
    }
    #controlsHolder .custom-button-primary {
        width: 207px;
    }
    #controlsHolder .custom-button-secondary {
        width: 100%;
    }

#omitAuthorDiv {
    margin-bottom: 15px;
    margin-left: 8px;
}    
    #omitAuthorDiv label {
        vertical-align: top;
    }

#prefixSuffixDiv {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}   

    #prefixSuffixDiv input[type="text"] {
        width: 50%;
    }

#styleWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 8px;
}

        #styleWrapper .label:first-of-type {
            flex: 5;
            margin-right: 4px;
        }

        .styleWrapperSecond {
            flex: 4;
            margin-left: 4px;
            margin-right: 4px;
        }

        #styleWrapper .label > span {
            display: block;
        }

        #styleWrapper .label input {
            width: 100%;
            padding-right: 18px;
            font-size: 11px;
        }

.notesStyle {
    margin: 0 0 8px 4px;
}
    .notesStyle .radioHolder {
        margin: 4px 4px 0 0;
    }
    .notesStyle label {
        font-size: 11px;
        margin-left: 6px;
        vertical-align: top;
    }
    .notesStyle label:first-of-type {
        margin-right: 18px;
    }

.selectHolder {
    position: relative;
}

.selectArrow {
    cursor: pointer;
    position: absolute;
    top: -1px;
    right: 8px;
}

.selectArrow > span {
    display: inline-block;
    width: 4px;
    height: 0.5px;
    margin: -1px;
    background-color: #000000;
}

    .selectArrow > span:first-of-type {
        transform: rotateZ(45deg);
    }

    .selectArrow > span:last-of-type {
        transform: rotateZ(-45deg);
    }


#styleLangList {
    right: 0px;
}

.selectList {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    bottom: 22px;
    max-height: 158px !important;
	min-height: 158px !important;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 4px 0;
}

.selectList > span {
    padding: 5px 20px;
    cursor: pointer;
    color: #444444;
}

    .selectList > span:hover {
        background-color: #d8dadc;
        color: #373737;
    }

    .selectList > span[selected=""] {
        background-color: #7d858c;
        color: #ffffff;
    }

    .selectList > span.select-file {
        padding: 0;
    }
    .selectList > span label {
        padding: 5px 20px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
    }
    .selectList > span * {
        pointer-events: none;
    }
    .selectList > span label {
        pointer-events: auto;
    }
    .selectList > hr {
        margin: 4px 0;
        border: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

.scrollThumb {
    width: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid transparent;
    position: relative;
}

.errorMsg {
    color: #D9534F;
}

.searchDivider {
    color: #666666;
    margin: 12px 0;
}

.doc {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    box-sizing: border-box;
    margin-top: 6px;
    padding: 4px 6px 6px 6px;
    height: 51px;
    overflow: hidden;
}
    .page0 > .doc:first-child {
        margin-top: 0;
    }

    .docInfo {
        min-width: 0;
    }

    .doc > div {
        display: flex;
        margin-top: 6px;
        gap: 6px;
    }
    .doc .docInfo {
        flex-direction: column;
        white-space: nowrap;
        margin-top: 0;
    }
    .doc > div label {
        width: 172px;
        padding-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .doc .selectbox-arrow {
        transition: transform 0.3s ease;
        width: 24px;
        height: 22px;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        position: relative;
    }
    .doc .selectbox-arrow::after {
        content: "";
        display: inline-block;
        width: 34px;
        height: 42px;
        position: absolute;
        top: -10px;
        left: -5px;
    }

    .doc.doc-open {
        height: auto;
        overflow: visible;
    }
    .doc-open .selectbox-arrow {
        transform: rotate(180deg);
    }
    .doc-open .docInfo {
        white-space: normal;
        margin-top: 6px;
    }

.secondary-text {
    font-size: 11px;
    color: #999999;
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.nowrap {
    white-space: nowrap;
}

#footerCont {
    display: flex;
    flex-direction: row;
}

    #footerCont > span:first-of-type {
        flex: 1;
    }

/* checkbox */

.checkbox {
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    width: 13px;
    height: 13px;
    position: relative;
}
    .checkbox > input {
        width: 0;
        height: 0;
        position: absolute;
        visibility: hidden;
    }
    .checkbox > span {
        background: url('../img/checkmark.png') no-repeat;
        display: none;
        width: 11px;
        height: 10px;
        position: relative;
        top: -1px;
        left: 2px;
    }
    .checkbox > input:checked ~ span {
        display: inline-block;
    }
    .checkbox::after {
        content: "";
        display: block;
        position: absolute;
        top: -6px;
        left: -6px;
        width: 25px;
        height: 25px;
    }


.selDoc {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 1px;
}

    .selDoc > span {
        display: inline-block;
        vertical-align: top;
    }

        .selDoc > span:first-of-type {
            max-width: 203px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .selDoc > span:last-of-type {
            cursor: pointer;
            margin-top: -2px;
        }

/* loader */
.cssload-container {
    z-index: 1;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.cssload-loading i {
    width: 19px;
    height: 19px;
    display: inline-block;
    border-radius: 50%;
    background: rgb(68,68,68);
}

    .cssload-loading i:first-child {
        opacity: 0;
        animation: cssload-loading-ani2 0.58s linear infinite;
        -o-animation: cssload-loading-ani2 0.58s linear infinite;
        -ms-animation: cssload-loading-ani2 0.58s linear infinite;
        -webkit-animation: cssload-loading-ani2 0.58s linear infinite;
        -moz-animation: cssload-loading-ani2 0.58s linear infinite;
        transform: translate(-19px);
        -o-transform: translate(-19px);
        -ms-transform: translate(-19px);
        -webkit-transform: translate(-19px);
        -moz-transform: translate(-19px);
    }

    .cssload-loading i:nth-child(2),
    .cssload-loading i:nth-child(3) {
        animation: cssload-loading-ani3 0.58s linear infinite;
        -o-animation: cssload-loading-ani3 0.58s linear infinite;
        -ms-animation: cssload-loading-ani3 0.58s linear infinite;
        -webkit-animation: cssload-loading-ani3 0.58s linear infinite;
        -moz-animation: cssload-loading-ani3 0.58s linear infinite;
    }

    .cssload-loading i:last-child {
        animation: cssload-loading-ani1 0.58s linear infinite;
        -o-animation: cssload-loading-ani1 0.58s linear infinite;
        -ms-animation: cssload-loading-ani1 0.58s linear infinite;
        -webkit-animation: cssload-loading-ani1 0.58s linear infinite;
        -moz-animation: cssload-loading-ani1 0.58s linear infinite;
    }

@keyframes cssload-loading-ani1 {
    100% {
        transform: translate(39px);
        opacity: 0;
    }
}

@-o-keyframes cssload-loading-ani1 {
    100% {
        -o-transform: translate(39px);
        opacity: 0;
    }
}

@-ms-keyframes cssload-loading-ani1 {
    100% {
        -ms-transform: translate(39px);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-loading-ani1 {
    100% {
        -webkit-transform: translate(39px);
        opacity: 0;
    }
}

@-moz-keyframes cssload-loading-ani1 {
    100% {
        -moz-transform: translate(39px);
        opacity: 0;
    }
}

@keyframes cssload-loading-ani2 {
    100% {
        transform: translate(19px);
        opacity: 1;
    }
}

@-o-keyframes cssload-loading-ani2 {
    100% {
        -o-transform: translate(19px);
        opacity: 1;
    }
}

@-ms-keyframes cssload-loading-ani2 {
    100% {
        -ms-transform: translate(19px);
        opacity: 1;
    }
}

@-webkit-keyframes cssload-loading-ani2 {
    100% {
        -webkit-transform: translate(19px);
        opacity: 1;
    }
}

@-moz-keyframes cssload-loading-ani2 {
    100% {
        -moz-transform: translate(19px);
        opacity: 1;
    }
}

@keyframes cssload-loading-ani3 {
    100% {
        transform: translate(19px);
    }
}

@-o-keyframes cssload-loading-ani3 {
    100% {
        -o-transform: translate(19px);
    }
}

@-ms-keyframes cssload-loading-ani3 {
    100% {
        -ms-transform: translate(19px);
    }
}

@-webkit-keyframes cssload-loading-ani3 {
    100% {
        -webkit-transform: translate(19px);
    }
}

@-moz-keyframes cssload-loading-ani3 {
    100% {
        -moz-transform: translate(19px);
    }
}
/* end loader */

body.theme-light {
    .doc {
        background-color: var(--input-bg);
        border-color: var(--input-border);
    }
    .scrollThumb {
        box-shadow: 0 0 8px 8px var(--scroll) inset;
    }
    .scrollThumb:hover {
        box-shadow: 0 0 8px 8px var(--scroll-hover) inset;
    }
    .scrollThumb.scrolling {
        box-shadow: 0 0 8px 8px var(--scroll-active) inset;
    }
}

body.theme-dark {
    .doc {
        background-color: var(--input-bg-dark);
        border-color: var(--input-border-dark);
    }
    .scrollThumb {
        box-shadow: 0 0 8px 8px var(--scroll-dark) inset;
    }
    .scrollThumb:hover {
        box-shadow: 0 0 8px 8px var(--scroll-hover-dark) inset;
    }
    .scrollThumb.scrolling {
        box-shadow: 0 0 8px 8px var(--scroll-active-dark) inset;
    }
}


.hidden {
    display: none;
}
