html, body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width:100%;
    height:100%;
}
body {
    padding: 15px;
    background-color: #fff !important;
}
textarea {
    resize: none;
}

#description {
    font-weight: 700;
    line-height: 16px;
}

#actions-list {
    margin-top: 16px;
}

#actions-list .item {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

#actions-list .item .label {
    display: flex;
    align-items: center;
}

#actions-list .item .label img{
    margin-right: 10px;
}


/* #actions-list .select2-selection{
    border: none !important;
}

#actions-list .select2-selection__rendered {
    padding: 0 6px;
    text-decoration: underline dotted;
    text-underline-offset: 4px;
}

#actions-list .select2-selection__arrow {
    display: none;
} */