.asc-plugin-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    z-index: 10000;
    line-height: 20px;
    background-image: none;
    background-color: transparent;
    color: #444444;
    transform: translate(-50%, 0);
}
.asc-plugin-loader .asc-loader-image {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNDQ0IiBzdHJva2Utd2lkdGg9IjEuNSIgcj0iNy4yNSIgc3Ryb2tlLWRhc2hhcnJheT0iMTYwJSwgNDAlIiAvPjwvc3ZnPg==);
    height: 20px;
    width: 20px;
    float: left;
    margin-top: -1px;

    animation-duration: .8s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.asc-plugin-loader .asc-loader-title {
    font-size: 13px;
    padding-left: 25px;
}