body {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    /* border-bottom: 1px solid #cbcbcb; */
}

.section-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}
.section-label label{
    font-weight: bold;
}

.action-btn {
    all: unset;
    cursor: pointer;
    border-bottom: 1px dotted;
}

.action-btn[disabled] {
    cursor: default;
    opacity: 0.7;
}


.form-vertical-item{
    display: flex;
    flex-direction: column;
}
.form-horizontal-item{
    display: flex;
    align-items: center;
}
.form-horizontal-item label {
    width: 50px;
}
.form-horizontal-item input,
.form-horizontal-item .select2{
    flex: 1;
}

.form-vertical-item, 
.form-horizontal-item{
    margin-bottom: 12px;
}
.form-vertical-item label {
    margin-bottom: 4px;
}