html, body {
	width: 100%;
	height: 100%;
	margin: 0px !important;
}

p {
	margin: 5px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px;
}

ul, ol {
	margin: 10px;
}

.loader {
	margin: 0 !important;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100% !important;
	background-color: rgba(128, 128, 128, 0.5);
}

.form {
	margin: 10px;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

input {
	flex: 1;
}

.info {
	margin: 10px;
}

.err-message {
	color: red;
}

.chat_window {
	display: flex;
	flex-direction: column;
	margin: 12px;
	flex: 1;
}

.messages {
	flex: 1;
	padding: 10px;
	margin-bottom: 6px;
	display: flex;
	flex-direction: column-reverse;
	overflow: auto;
	background: #ffffff;
}

.message {
	margin-top: 10px;
}

.action_buttons_list {
	margin-top: 4px;
	display: flex;
}
.action_button {
	padding: 0;
	display: flex;
	height: auto;
}
.action_button:not(:first-child) {
	margin-left: 4px;
}

.action_button img {
	margin: 2px;
	width: 20px;
	height: 20px;
}

.span_message {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px 8px;
	width: fit-content;
	height: fit-content;
	white-space: normal;
	line-height: 16px;
}

.span_message p {
	margin: 0;
}

#loading .span_message {
	padding: 0;
	color: var(--text-tertiary);
}

#welcome_text {
	width: fit-content;
	height: fit-content;
	white-space: normal;
	line-height: 16px;
	margin-bottom: 20px;
}

#welcome_buttons_list {
	display: flex;
    flex-wrap: wrap;
	margin: -2px;
}

.welcome_button {
	cursor: pointer;
	width: fit-content;
	height: fit-content;
	line-height: 16px;
	padding: 4px 8px;
	margin: 2px;
	background-color: var(--highlight-button-hover) !important;	
}

.welcome_button:hover {
	color: var(--text-normal-pressed) !important;
	background-color: var(--highlight-button-pressed-hover) !important;	
}

.welcome_button:active {
	color: var(--text-normal-pressed) !important;
	background-color: var(--highlight-button-pressed) !important;	
}

.user_message {
	display: flex;
	justify-content: end;
}

.user_message .span_message {
	background-color: var(--background-toolbar);
}

.tokens_info {
	margin: 5px 0;
	width: fit-content;
	align-self: end;
}

.text_align_end {
	text-align: end;
}

.div_title_chat {
	position: absolute;
    z-index: 1;
    height: fit-content;
    padding: 8px 5px;
    right: 5px;
	left: 5px;
	top: 225px;
	overflow-wrap: anywhere;
}

.error_border {
	border: 1px solid red !important;
}

.div_error {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
}

.lb_err {
	color: red;
	padding: 2px 10px;
}

.hidden {
	display: none !important;
}

#input_message_wrapper {
	display: flex;
	background-color: var(--background-normal);
	border-radius: 2px;
	border: 1px solid var(--border-regular-control);
	position: relative;
}

#input_message_wrapper.focused {
	border-color: var(--border-control-focus);
}

#input_message {
	flex: 1;
	padding: 0;
	padding: 6px 0 6px 6px;
	margin: 2px 34px 2px 2px;
    min-height: 16px;
    max-height: 82px;
    overflow-y: auto;
    resize: none;
    line-height: 16px;
	border: none;
}


#input_message_submit {
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px 7px 7px 3px;
	margin-left: 4px;
}
#input_message_submit:hover {
	opacity: 0.7;
}
#input_message_submit img {
	width: 20px;
	height: 20px;
}


/* #input_message_wrapper {
	display: flex;
	position: relative;
}

#input_message {
	width: 100%;
	padding: 8px 40px 8px 8px;
    min-height: 36px;
    max-height: 98px;
    overflow-y: auto;
    resize: none;
    line-height: 16px;
}

#input_message_submit {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 1px;
	right: 1px;
	width: 34px;
	height: 34px;
}
#input_message_submit img {
	width: 20px;
	height: 20px;
} */