html,
body {
    width: 100%;
    height: 100%;
    margin: 0px !important;
}

p {
    margin: 5px;
}

label {
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 4px;
}
    label strong {
        color: red;
        color: var(--border-error);
    }

.select2-container {
    width: auto !important;
}    
.select2-container--default .select2-selection--single,    
.form-control {
    background-color: transparent;
}

.custom_assistant_window {
    display: flex;
    padding: 1px 15px 0 15px;
    flex: 1;
    width: calc(100% - 24px);
    background-color: #fff;
    background-color: var(--background-normal);
}
    .custom_assistant_window:not(.warning) {
        flex-direction: column;
    }

#warning_text {
    display: flex;
    flex-direction: row;
    gap: 12px;
    line-height: 16px;
    align-items: center;
}
    #warning_text p {
        width: calc(100% - 76px);
    }
    

#custom_assistant {
    height: auto;
    padding: 14px 0 8px 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    line-height: 16px;
}

#input_prompt_wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    padding-bottom: 20px;
}

#input_prompt {
    flex: 1;
    padding: 0;
    padding: 6px;
    height: 100%;
    overflow-y: auto;
    resize: none;
    line-height: 16px;
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    border: 1px solid var(--border-regular-control);
    font-family: Arial, sans-serif;
}

#input_prompt:focus {
    border-color: #4a87e7;
    border-color: var(--border-control-focus);
}

.hidden {
    display: none !important;
}
