.selectbox-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;

    .selectbox {
        position: relative;
    }

    .selectbox-header {
        border-style: solid;
        border-width: 1px;
        border-radius: 1px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s ease;
        user-select: none;
        &:focus {
            outline: none;
        }
    }

    .selectbox-header-open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .selectbox-selected-text {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 7px;
    }

    .selectbox-arrow {
        transition: transform 0.3s ease;
        width: 24px;
        height: 22px;
        text-align: center;
        line-height: 20px;
    }

    .selectbox-arrow-open {
        transform: rotate(180deg);
    }

    .selectbox-dropdown {
        display: none;
        position: absolute;
        padding: 3px 0;
        top: calc(100% + 2px);
        left: 0;
        right: 0;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        z-index: 1000;
        max-height: 200px;
        overflow: hidden;
    }

    .selectbox-search {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    .selectbox-search-input {
        font-size: 11px;
        width: 100%;
        padding: 5px 12px 5px 27px;
        border: none;
        border-radius: 2px;
        &:focus {
            outline: none;
        }
    }

    .selectbox-options {
        max-height: 157px;
        overflow-y: auto;
    }

    .selectbox-option {
        padding: 5.7px 12px 5.7px 27px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: background-color 0.2s ease;
        * {
            pointer-events: none;
        }
    }

    .selectbox-checkbox {
        margin: 0;
    }

    .selectbox-option-text {
        flex: 1;
    }

    .selectbox-disabled {
        pointer-events: none;
        .selectbox-header {
            opacity: 0.65;
        }
    }
}

body.theme-light .selectbox-container {
    .selectbox-header {
        border-color: var(--input-border);
        background-color: var(--input-bg);
        &:hover {
            border-color: var(--input-border-hover);
        }
        &:focus {
            border-color: var(--input-border-focus);
        }
        &:active {
            border-color: var(--input-border-focus);
        }
    }

    .selectbox-header-open {
        border-color: var(--input-border-focus);
    }

    .selectbox-dropdown {
        background-color: var(--select-option);
        border-color: var(--input-border);
        box-shadow: 1px 1px 4px -1px var(--select-option-selected);
    }

    .selectbox-search {
        border-bottom: 1px solid var(--select-option-hover);
    }

    .selectbox-search-input {
        &:focus {
            border-color: var(--input-border);
        }
        &::placeholder {
            color: var(--input-placeholder);
        }
    }

    .selectbox-option {
        &:hover {
            background-color: var(--select-option-hover);
        }
    }

    .selectbox-option-selected {
        background-color: var(--select-option-selected);
        &:hover {
            background-color: var(--select-option-selected);
        }
    }
}

body.theme-dark .selectbox-container {
    .selectbox-header {
        border-color: var(--input-border-dark);
        background-color: var(--input-bg-dark);
        &:hover {
            border-color: var(--input-border-hover-dark);
        }
        &:focus {
            border-color: var(--input-border-focus-dark);
        }
        &:active {
            border-color: var(--input-border-focus-dark);
        }
    }

    .selectbox-header-open {
        border-color: var(--input-border-focus-dark);
    }

    .selectbox-dropdown {
        background-color: var(--select-option-dark);
        border-color: var(--input-border-dark);
        box-shadow: 1px 1px 4px -1px var(--select-option-selected-dark);
    }

    .selectbox-search {
        border-bottom: 1px solid var(--select-option-hover-dark);
    }

    .selectbox-search-input {
        &:focus {
            border-color: var(--input-border-dark);
        }
        &::placeholder {
            color: var(--input-placeholder-dark);
        }
    }

    .selectbox-option {
        &:hover {
            background-color: var(--select-option-hover-dark);
        }
    }

    .selectbox-option-selected {
        background-color: var(--select-option-selected-dark);
        &:hover {
            background-color: var(--select-option-selected-dark);
        }
    }
}
