html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.label-hovered {
    background: rgba(200, 200, 200, 0.5);
}

.label-selected {
    background: #aaa;
}

.label-info {
    cursor: pointer;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    border-bottom: none;
    height: 800px;
    overflow-y: auto;
}
/* chat css S*/
.main{
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.chat-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #ccc;
    padding: 0 0 0px 0;
}
.chat-box .chat-text{
    width: 95%;
    padding: 15px 15px 15px 0;
    margin: 0;
}
.chat-box .chat-text p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin: 0;
}
.chat-box .chat-icon{width: calc(100% - 95%);display: flex;align-items: center;justify-content: center;}
.chat-box .chat-icon img{max-width: 24px;}
.chat-box .chat-icon button{background: transparent;border: none;padding: 0;cursor: pointer;}
.bottom-btn{position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;}
.bottom-btn .btn{
    padding: 15px 20px;
    margin: 0 0 10px 0;
    cursor: pointer;
}


/* chat css E*/


/* screen-2 css s */
.chat-wrapper{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    /* max-width: 500px; */
    max-width: 100%;
}
.chat-inner {
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    position: relative;
}
.chat-wrapper .chat-inner .chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    background: #eee;
}
.chat-wrapper .chat-inner .chat-header .chat-profile{
    width: calc(100% - 30%);
}
.chat-wrapper .chat-inner .chat-header .chat-actions {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.chat-wrapper .chat-inner .chat-header .chat-actions img{max-width: 25px;}
.chat-wrapper .chat-inner .chat-header .chat-profile{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
.chat-wrapper .chat-inner .chat-header .chat-profile .profile-image {
    width: 50px;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.chat-wrapper .chat-inner .chat-header .chat-profile .profile-details{
    max-width: 100%;
    margin: 0 0px 0 0;
}
.chat-wrapper .chat-inner .chat-header .chat-profile img {
    max-width: 50px;
}
.chat-wrapper .chat-inner .chat-header .chat-profile .profile-details .title{
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-transform: capitalize;
}
.chat-wrapper .chat-inner .chat-header .chat-profile .profile-details .title a{
    text-decoration: none;
}
.chat-wrapper .chat-inner .chat-header .chat-profile .profile-details .designation {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 19px;
}
.chat-wrapper .chat-inner .chat-header .chat-actions ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.chat-wrapper .chat-inner .chat-header .chat-actions ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.chat-wrapper .chat-inner .chat-header .chat-actions ul li + li{
    margin: 0 0 0 10px;
}
.chat-inner .chat-contract-section{
    padding: 20px 15px;
    max-height: calc(100vh - 130px);
    overflow-y: auto;
}
.chat-inner .chat-contract-section .contract-form .input-group-form .form-label{
    display: block;
    margin: 0 0 5px 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: left;
}
.chat-inner .chat-contract-section .contract-form .input-group-form .form-control{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    border: 1px solid #48566633;
    padding: 5px;
}
.chat-inner .chat-contract-section .contract-form .input-group-form .form-control.address{
    height: 105px;
    text-align: left;
}
.chat-inner .chat-contract-section .contract-form .input-group-form {
    margin: 0 0 20px 0;
}
.chat-inner .chat-contract-section .contract-form .input-group-form.submit{
    text-align: center;
}
.chat-inner .chat-contract-section .contract-form .input-group-form.submit .review-btn.btn {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: #282756;
    color: #fff;
    cursor: pointer;
}
.review-btn.btn {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: #282756;
    color: #fff;
    cursor: pointer;
}
.input-group-form.submit .review-btn.btn {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: #282756;
    color: #fff;
    cursor: pointer;
}
.chat-inner .close-btn button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.chat-inner .close-btn button img{
    max-width: 25px;
}
.chat-inner .close-btn{
    position: absolute;
    right: 0;
}
/* screen-2 css e */

/* screen-3 css s */
.chat-message-section{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.chat-message-section .chat-message-inner{
    padding: 20px 15px;
    max-height: calc(100vh - 130px);
    overflow-y: auto;
}
.chat-message-section .chat-message-inner .activity-label {
    display: block;
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    text-transform: inherit;
    text-align: center;
    color: #7E8299;
}
.chat-message-section .chat-message-inner .message-box {
    display: flex;
    width: calc(100% - 120px);
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-end; */
    /* border: 1px solid #48566633; */
    /* margin: 0 0 20px auto; */
}
.chat-message-section .chat-message-inner .message-box:nth-child(odd) {
    justify-content: flex-end;
    margin: 0 0 20px auto;
}
.chat-message-section .chat-message-inner .message-box:nth-child(even) {
    justify-content: flex-start;
    margin: 0 auto 20px 0;
}
.chat-message-section .chat-message-inner .message-box .message-description{
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 10px 0;
}
.chat-message-section .chat-message-inner .message-box:nth-child(even) .message-description{
    background: #e9e9ee;
}
.chat-message-section .chat-message-inner .message-box:nth-child(odd) .message-description{
    background: #e1f8fc;
}
.chat-message-section .chat-message-inner .message-box .message-description p{
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
}
.chat-message-section .chat-message-inner .message-box .message-log .user-image img{
    max-width: 25px;
}
.chat-message-section .chat-message-inner .message-box .message-log {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: nowrap;
}
.chat-message-section .chat-message-inner .message-box:nth-child(even) .message-log {
    justify-content: flex-end;
    flex-flow: row-reverse;
}
.chat-message-section .chat-message-inner .message-box .message-log .message-time{
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    text-transform: inherit;
    text-align: center;
    color: #7E8299;
}
.chat-message-section .chat-message-inner .message-box .message-log .user-name{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    color: #282756;
}
.chat-message-section .chat-message-inner .message-box .message-log span + span{
    margin: 0 0 0 10px;
}
.chat-message-section .chat-message-inner .message-box:nth-child(even) .message-log span + span{
    margin: 0 10px 0 0px;
}
.message-write-box .text-form .input-group-form textarea{
    height: 86px;
    overflow-y: auto;
    text-align: left;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    border: 1px solid #48566633;
    padding: 5px;
}
.message-write-box .text-form .input-group-form.submit{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 0 0 0;
}
.message-write-box .text-form .input-group-form.submit .review-btn.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px
}
.message-write-box .text-form .review-btn.btn img{
    max-width: 18px;
}
.message-write-box .text-form .review-btn.btn span{
    margin: 0 0 0 5px;
}
.message-write-box .text-form .input-group-form.submit .review-btn.btn + .review-btn.btn{
    margin: 0 0 0 10px;
}
.chat-message-section .chat-message-inner .message-write-box .activity-label{
    text-align: left;
}
.request-box {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.request-box .message-description {
    padding: 10px;
    border-radius: 5px;
    background-color: #79D7FA;
    margin: 10px 0 10px 0;
}
.request-box .message-description .request-title {
    margin: 0px 0 10px 0px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    padding: 0 0 0 5px;
}
.request-box .message-description .request-box-details {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    padding: 5px 10px;
    background: #fff;
    border-radius: 5px;
}
.request-btn{
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}
.request-btn .review-btn.btn{
    min-width: 100px;
}
.request-btn .review-btn.btn + .review-btn.btn{
    margin: 0 0 0 10px;
}
.request-btn .review-btn.btn.red{
    background-color: #FF0000;

}
/* screen-3 css e */

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.display-none {
    display: none;
}