html {
    --font: rgb(51, 51, 51);
    --font-hover: black;
    --icon-pad: rgba(0, 0, 0, 0.02);
    --icon-pad-hover: #cbcbcb;
    --icon-pad-focus: rgba(0, 0, 0, 0.1);
    --icon-pad-selected: #cbcbcb;
    --input-bg: white;
    --input-disabled: #efefef;
    --input-placeholder: rgb(153, 153, 153);
    --input-border: #c0c0c0;
    --input-border-hover: #c0c0c0;
    --input-border-focus: #848484;
    --input-border-active: #c0c0c0;
    --input-border-error: #f62211;
    --input-border-warning: #e6a23c;
    --input-icon: #bdbdbd;
    --input-icon-hover: #848484;
    --button-primary: #444444;
    --button-primary-hover: #1c1c1c;
    --button-primary-disabled: #000000;
    --button-primary-disabled-font: #ffffff;
    --button-secondary-hover: #d8dadc;
    --button-secondary-pressed: #7d858c;
    --select-option: white;
    --select-option-hover: #e0e0e0;
    --select-option-selected: #cbcbcb;
    --scroll: #e0e0e0;
    --scroll-hover: #cbcbcb;
    --scroll-active: #adadad;

    --font-dark: rgba(255, 255, 255, 0.8);
    --font-hover-dark: white;
    --icon-pad-dark: rgba(255, 255, 255, 0.02);
    --icon-pad-hover-dark: #555;
    --icon-pad-focus-dark: rgba(255, 255, 255, 0.1);
    --icon-pad-selected-dark: #606060;
    --input-bg-dark: #333333;
    --input-disabled-dark: #505050;
    --input-placeholder-dark: rgba(255, 255, 255, 0.4);
    --input-border-dark: #666666;
    --input-border-hover-dark: #666666;
    --input-border-focus-dark: rgb(204, 204, 204);
    --input-border-active-dark: #666666;
    --input-border-error-dark: #f62211;
    --input-border-warning-dark: #e6a23c;
    --input-icon-dark: rgba(255, 255, 255, 0.8);
    --input-icon-hover-dark: white;
    --button-primary-dark: #dddddd;
    --button-primary-hover-dark: #fcfcfc;
    --button-primary-disabled-dark: #ffffff;
    --button-primary-disabled-font-dark: #000000;
    --button-secondary-hover-dark: #555555;
    --button-secondary-pressed-dark: #606060;
    --select-option-dark: #333333;
    --select-option-hover-dark: #555;
    --select-option-selected-dark: #606060;
    --scroll-dark: #616161;
    --scroll-hover-dark: #999999;
    --scroll-active-dark: #adadad;
}
