html {
    --font: rgba(0, 0, 0, 0.8);
    --font-hover: black;
    --icon-pad: rgba(0, 0, 0, 0.02);
    --icon-pad-hover: rgba(0, 0, 0, 0.1);
    --icon-pad-selected: #cbcbcb;
    --input-bg: white;
    --input-placeholder: rgba(0, 0, 0, 0.4);
    --input-border: #c0c0c0;
    --input-border-hover: #c0c0c0;
    --input-border-focus: #848484;
    --input-border-active: #c0c0c0;
    --input-border-error: #f56c6c;
    --input-border-warning: #e6a23c;
    --input-icon: #bdbdbd;
    --input-icon-hover: #848484;
    --select-option: white;
    --select-option-hover: #cbcbcb;
    --select-option-selected: #cbcbcb;

    --font-dark: rgba(255, 255, 255, 0.8);
    --font-hover-dark: white;
    --icon-pad-dark: rgba(255, 255, 255, 0.02);
    --icon-pad-hover-dark: rgba(255, 255, 255, 0.1);
    --icon-pad-selected-dark: #606060;
    --input-bg-dark: #333333;
    --input-placeholder-dark: rgba(255, 255, 255, 0.4);
    --input-border-dark: #666666;
    --input-border-hover-dark: #666666;
    --input-border-focus-dark: rgb(204, 204, 204);
    --input-border-active-dark: #666666;
    --input-border-error-dark: #f56c6c;
    --input-border-warning-dark: #e6a23c;
    --input-icon-dark: rgba(255, 255, 255, 0.8);
    --input-icon-hover-dark: white;
    --select-option-dark: #333333;
    --select-option-hover-dark: #606060;
    --select-option-selected-dark: #606060;
}
