html {
    --font: rgba(0, 0, 0, 0.8);
    --font-hover: #000000;
    --icon-pad: rgba(0, 0, 0, 0.02);
    --icon-pad-hover: #cbcbcb;
    --icon-pad-selected: rgba(0, 0, 0, 0.2);
    --input-bg: white;
    --input-placeholder: rgba(0, 0, 0, 0.4);
    --input-border: #c0c0c0;
    --input-border-hover: #c0c0c0;
    --input-border-focus: #848484;
    --input-border-active: #c0c0c0;
    --input-border-error: #f56c6c;
    --input-border-warning: #e6a23c;
    --input-icon: #bdbdbd;
    --input-icon-hover: #848484;
    --select-option: white;
    --select-option-hover: #e0e0e0;
    --select-option-selected: #cbcbcb;

    --font-dark: rgba(255, 255, 255, 0.8);
    --font-hover-dark: #ffffff;
    --icon-pad-dark: rgba(255, 255, 255, 0.02);
    --icon-pad-hover-dark: rgba(255, 255, 255, 0.1);
    --icon-pad-selected-dark: rgba(255, 255, 255, 0.2);
    --input-bg-dark: red;
    --input-border-dark: red;
    --input-border-hover-dark: red;
    --input-border-focus-dark: red;
    --input-border-active-dark: red;
    --input-border-error-dark: red;
    --input-border-warning-dark: red;
    --input-icon-dark: red;
    --input-icon-hover-dark: red;
    --select-option-dark: red;
    --select-option-hover-dark: red;
    --select-option-selected-dark: red;
}
