body {
    margin: 0;
}
.content {
    padding: 3px 13px 11px 11px;
    overflow-y: auto;
    height: inherit;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

label {
    display: block;
    padding: 14px 0 6px 0;
}
.run-button {
    width: 100%;
}
