body.light {
    --font-color: #323130;
    --font-color-hover: #000000;
    --color-pad: rgba(0, 0, 0, 0.02);
    --color-pad-hover: rgba(0, 0, 0, 0.1);
    --color-pad-selected: rgba(0, 0, 0, 0.2);
}

body.dark {
    --font-color: #d9d9d9;
    --font-color-hover: #ffffff;
    --color-pad: rgba(255, 255, 255, 0.02);
    --color-pad-hover: rgba(255, 255, 255, 0.1);
    --color-pad-selected: rgba(255, 255, 255, 0.2);
}

body {
    margin: 0;
}
.content {
    margin: 4px 13px 11px 11px;
    overflow-y: auto;
    height: inherit;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

label {
    display: block;
    padding: 13px 0 6px 0;
}

input[type="text"] {
    line-height: 18px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}
input[readonly]::selection {
    background-color: transparent;
}
.selectHolder {
    position: relative;
}
.selectArrow {
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 11px;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}
.selectArrow > span {
    display: inline-block;
    width: 4px;
    height: 0.5px;
    margin: 0 -1px 3px -1px;
    background-color: #000000;
}
.selectArrow > span:first-of-type {
    transform: rotateZ(45deg);
}
.selectArrow > span:last-of-type {
    transform: rotateZ(-45deg);
}
.selectList:not(.hidden) {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background: #ffffff;
    top: 22px;
    width: 100%;
    max-height: 158px !important;
    min-height: 158px !important;
    overflow-x: hidden;
    overflow-y: auto;
}
.selectList > span {
    padding: 5px 20px;
    cursor: pointer;
    color: #444444;
}
.selectList > span:hover {
    background-color: #d8dadc;
    color: #373737;
}
.selectList > span[selected=""] {
    background-color: #7d858c;
    color: #ffffff;
}
.selectList:not(.hidden) + .selectArrow {
    transform: rotate(180deg);
}
