.tui-image-editor-container .tui-image-editor-menu>.tui-image-editor-item.active {
    background-color: #555555 !important;
}
#tie-btn-undo:hover,#tie-btn-redo:hover,#tie-btn-reset:hover,#tie-btn-delete:hover,#tie-btn-delete-all:hover,#tie-btn-crop:hover,#tie-btn-flip:hover,#tie-btn-rotate:hover,#tie-btn-draw:hover,#tie-btn-shape:hover,#tie-btn-icon:hover,#tie-btn-text:hover,#tie-btn-mask:hover,#tie-btn-filter:hover{
    background-color: #151515;
    cursor:pointer;
}
.hover.use-default {
    fill-rule: evenodd !important;
    fill: #fff !important;
    stroke: #fff !important;
}

.tui-image-editor-container .tui-image-editor-range-wrap label {
	color: #fff;
}

/** focus **/
.tui-image-editor-item:focus,
.tui-image-editor-button:focus {
    box-shadow: inset 0px -2px 0px -1px #4d88ff;
    outline: none;
}
input:not(:checked):focus + span::before {
    border: 2px solid #4d88ff !important;
    background-color: #f9f9f9 !important;
}
input:checked:focus + span::before {
    border: 1px solid #ccc !important;
}
.tui-colorpicker-palette-button:focus {
    outline: 2px solid #4d88ff !important;
    outline-offset: -2px !important;
}
select:focus {
    outline: 1px solid #4d88ff !important;
    outline-offset: -1px !important;
}
.tui-colorpicker-palette-hex:focus {
    outline: 1px solid #4d88ff !important;
    outline-offset: 2px !important;
}
svg {
    color: #8a8a8a;
}
input[type="file"]:focus + svg {
    color: #4d88ff;
}