html, body {
  width: 100%;
  height: 100%;
  color: #444444;
};
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                 not supported by any browser */
}

#no_mistakes {
    font-size: 12px;
    font-weight: 700 !important;
}
.replacment_space {
    border: 1px solid #40865C;
}
.error {
    font-size: 12px;
    font-weight: 700 !important;
    margin-top: 16px;
    color: #D9534F !important;
}
#yes_mistakes {
    font-size: 11px;
    font-weight: 700 !important;
}

.caption {
  margin-top: 19px;
  margin-left: 8px;
  display: flex;
  min-height: 30px;
}

.result_div {
  cursor: pointer;
  min-height: 49px;
  border-radius: 3px;
  margin-top: 16px;
}

.replacment {
    margin: 0 2.5px 5px 2.5px;
    min-height: 22px;
    min-width: 26px;
}

.header {
  font-weight: 700;
  margin: 3px;
  font-size: 14px;
  color: red;
  display: flex;
  justify-content: space-between;
}
.trigger_word {
  margin: 5px 5px 5px 8px;
}
.replacments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn_close {
  margin-top: -8px;
  background: transparent url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTM4IDEyLjgzTDM1LjE3IDEwIDI0IDIxLjE3IDEyLjgzIDEwIDEwIDEyLjgzIDIxLjE3IDI0IDEwIDM1LjE3IDEyLjgzIDM4IDI0IDI2LjgzIDM1LjE3IDM4IDM4IDM1LjE3IDI2LjgzIDI0eiIvPjxwYXRoIGQ9Ik0wIDBoNDh2NDhIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=) 50% no-repeat!important;
  width: 34px!important;
  height: 34px!important;
  background-size: 16px 16px!important;
  box-sizing: initial!important;
  cursor: pointer!important;
  display: block!important;
}