.ui-loader-spinner {
  animation: ui-loader-spin 0.9s linear infinite;
}

@keyframes ui-loader-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ui-switch {
  cursor: pointer;
  transition: all 120ms ease;
  display: inline-flex;
  align-items: center;
  border: none;
  padding: 1px;
  box-sizing: border-box;
}
