.input_error {
    display: none;
    float: left;
    position: relative;
}

.input_error:before {
    content: '';
    position: absolute;
    right: 3px;
    top: 3px;
    width: 16px;
    height: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNWWFMmUAAACvSURBVDhPrZNRDoIwEER7COA6HgJPpAnHM4oXQdFE/VDfNrsfpQvGhkneT2dmky40rK77pq6ggx4eyhF2UGnMF4EWBvjMcIFW46nEgLcGl5BMOoSDGmR6EjZNz0GyjdbjALlfFjR5HnRajwNkSVnI5HnQaz0OkE1nIZPnwVPrxQNGrc9f4Qcnra+zxAbKP6OIg/IfyYSxhasGPcTzyyYC9pjO8IIbHGAPy4/pf4XwBSVejZ5wzd0zAAAAAElFTkSuQmCC);
}

.div_loader {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px;
    left: 0px;
}

.loader_background {
    width: 100%;
    height: 100%;
    background-color: #adadad;
    opacity: 0.5;
}

.asc-loader-title {
    padding-left: 10px !important;
}

.asc-plugin-loader {
    display: flex !important;
}