html, body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width:100%;
	height:100%;
}
.div-data {
	display: flex;
	flex-flow: column;
	margin: 10px 5px 10px 5px;
}
input[type="file"] {
	position: absolute;
	left: -100000px;
}
.hidden {
	display: none !important;
}
.div-select {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
}
.label-caption {
	margin-bottom: 5px;
}
.label-file-name {
	padding: 5px;
	width: 100%;
	overflow: hidden;
	height: 10px;
	white-space: nowrap;
}
.button-select {
	min-width: 110px;
	border-top: none !important;
	border-bottom: none !important;
	border-right: none !important;
}
.div-sign {
	display: flex;
	flex-flow: column;
	padding-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
}
.div-mess {
	margin: 15px 5px 15px 5px;
}
.span-err {
	color: red !important;
}
.span-mess {
	color: green !important;
}
input[type="password"] {
	width: 100%;
}
.div-loader {
	margin: 10px;
	height: 40px;
	top: 50%;
	right: 50%;
	position: sticky;
}
.disabled {
	opacity: 0.4;
}
.noselect {
	-khtml-user-select: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}