html, body {
	margin: 0px !important;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-flow: column;
}

.white_bg {
	background-color: #fff !important;
}

img {
	pointer-events: none;
}

button {
	margin: 0px;
	min-width: 70px;
}

div.header {
	background: #d8dadc;
	display: flex;
	justify-content: center;
	border-bottom: solid var(--scaled-one-pixel, 1px) #4444;
	align-items: center;
}

label.header {
	margin: 5px;
	font-size: 14px !important;
}

.btn_menu {
	height: 24px !important;
	padding-left: 12px;
	padding-right: 12px;
}

.btn_update {
	height: 22px !important;
	padding: 0px 5px;
}

.btn_menu_right {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-width: 0 !important;
	margin-left: -1px;
	font-weight: normal !important;
	min-width: 100px;
}

.btn_menu_left {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	font-weight: normal !important;
	min-width: 90px;
}

.close {
	position: absolute;
	right: 10px;
	font-size: 25px;
	opacity: 0.7;
	cursor: pointer;
}

.close:hover {
	opacity: 1;
}

.arrow {
	position: absolute;
	/* left: 10px; */
	top: 0;
	font-size: 20px;
	opacity: 0.7;
	cursor: pointer;
}

.arrow:hover {
	opacity: 1;
}

.toolbar {
	margin: 20px 20px 0px 20px;
}

.toolbar_top {
	display: flex;
	justify-content: space-between;
}

.toolbar_link {
	display: flex;
	align-items: center;
	margin-right: 5px;
}

.toolbar_buttons {
	display: flex;
}

.toolbar_tools {
	display: flex;
	justify-content: space-between;
	margin: 15px 0px;
}

.main_content {
	position: absolute;
	top: 100px;
	bottom: 5px;
	right: 0px;
	left: 0px;
	-ms-flex-wrap: wrap;
	/* inset: 60px 0px 5px; */
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	margin-right: 5px;
	margin-left: 20px;
	justify-content: center;
}

.div_item {
	display: flex;
	flex-flow: column;
	/* border: 1px solid #c0c0c0; */
	border-radius: 4px;
	max-width: 173px;
	min-width: 173px;
	margin: 0 20px 20px 0;
	position: relative;
	min-height: 235px;
	max-height: 235px;
	padding: 0px !important;
	cursor: pointer;
}

.div_item_hovered {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* .div_item_hovered_light {
	border: 1px solid #333 !important;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

.div_item_hovered_dark {
	border: 1px solid #fff !important;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
} */

.div_description {
	display: flex;
	flex-flow: column;
	word-break: break-word;
}

.div_image {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px 3px 0 0;
	height: 84px;
}

.span_name {
	margin: 10px;
	font-weight: bold;
}

.span_name_selected {
	margin: 10px;
	font-weight: bold;
	font-size: 14px;
}

.span_description {
	margin: 0px 10px 0px;
	max-height: 60px;
	overflow: auto;
}

.div_footer {
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	bottom: 0px;
	flex-flow: column;
}

.btn_item {
	margin: 0px 10px 10px;;
	width: calc(100% - 20px);
	border-radius: 3px !important;
	font-weight: bold !important;
	height: 24px !important;
}

.btn_item[disabled]:hover,
.btn_item.disabled:hover,
.btn_item[disabled]:active,
.btn_item[disabled].active,
.btn_item.disabled:active,
.btn_item.disabled.active {
	background-color: #f00 !important;
	color: #0f0 !important;
	cursor: default !important;
}

.btn_item[disabled],
.btn_item.disabled {
	opacity: 0.65;
}

.btn_preview {
	margin: 10px 0px 10px 10px;
	width: fit-content;
	min-width: 109px;
	height: 24px !important;
	border-radius: 3px !important;
}

.div_notification {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.span_notification {
	font-size: 15px;
}

.div_loader {
	width: 100%;
	height: 100%;
	position: absolute !important;
}

.loader_background {
	width: 100%;
	height: 100%;
	background-color: #adadad;
	opacity: 0.5;
}

.asc-loader-title {
	padding-left: 10px !important;
}

.asc-plugin-loader {
	display: flex !important;
}

.div_body {
	height: 100%;
}

.div_preview {
	height: 100%;
}

.link_submit {
	text-decoration: underline dotted !important;
}

.link_submit:hover {
	text-decoration: underline dotted !important;
}

.link_info {
	border-bottom: 1px solid;
	text-decoration: none !important;
}

.hidden {
	display: none !important;
}

.transparent {
	opacity: 0;
	z-index: -1;
}

.div_selected_toolbar {
	display: flex;
	margin: 20px;
}

.div_selected_description {
	display: flex;
	flex-flow: column;
}

.div_selected_main {
	margin: 0 20px;
	position: absolute;
	top: 130px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	/* inset: 130px 0px 0px; */
}

.div_selected_preview {
	width: 100%;
	height: calc(100% - 25px);
	margin-top: 25px;
}

.div_selected_image {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image_preview {
	width:100%;
	height:100%;
	object-fit:scale-down;
	/* pointer-events: all !important; */
}

.div_selected_info {
	margin-top: 10px;
}

.span_caption {
	margin-right: 16px;
	cursor: pointer;
}

.span_selected {
	border-bottom: 3px solid;
	padding-bottom: 4px;
}

.span_info {
	font-weight: bold;
}

.span_update {
	align-self: flex-end;
	background-color: #009900;
	color: white;
	font-size: 10px !important;
	padding: 1px 5px;
	border: 1px solid #009900;
	border-radius: 12px;
	margin: 0px 10px 5px 10px;
}

.error_main {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.error_caption {
	font-size: 15px;
	color: red;
}

.div_description_selected {
	max-height: 50px;
	overflow: auto;
	overflow-wrap: break-word;
	/* margin-top: 20px; */
	margin-bottom: 10px;
}

.div_plugin_info {
	margin-bottom: 25px;
}

.btn_toolbar_active {
	background-color: #c0c0c0 !important;
	color: #000 !important;
}

.div_icon_info {
	width: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_arrows {
	position: absolute;
	width: 100%;
}

.arrow_common {
  display: block;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.arrow_right {
	transform: rotate(135deg);
	margin-right: 5px;
}

.arrow_left {
	transform: rotate(-45deg);
	margin-left: 5px;
}

.arrow_conteiner {
	border-radius: 96px;
	background: #000;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow_conteiner_left {
	left: 3%;
}

.arrow_conteiner_right {
	right: 3%;
}

.arrow_conteiner_small {
	width: 22px;
	height: 22px;
}

.arrow_conteiner_big {
	width: 40px;
	height: 40px;
}

.arrow_small {
	width: 9px;
	height: 9px;
}

.arrow_big {
	width: 15px;
	height: 15px;
}