@import url("../../colors.css");

.icons-container {
    height: calc(100% - 190px);
    width: 100%;
    box-sizing: border-box;
    .icons {
        height: calc(100% - 20px);
        padding: 12px;
        box-sizing: border-box;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        gap: 5px;
        .icon {
            color: var(--font);
            width: 48px;
            height: 48px;
            background: var(--icon-pad);
            &:hover {
                color: var(--font-hover);
                background: var(--icon-pad-hover);
            }
            &:focus {
                box-shadow: 0 0 0 2px var(--icon-pad-hover);
            }
            &.selected {
                background: var(--icon-pad-selected);
            }
        }
    }
}

body.theme-dark {
    .icons-container {
        .icons {
            .icon {
                color: var(--font-dark);
                background: var(--icon-pad-dark);
                &:hover {
                    color: var(--font-hover-dark);
                    background: var(--icon-pad-hover-dark);
                }
                &:focus {
                    box-shadow: 0 0 0 2px var(--icon-pad-hover-dark);
                }
                &.selected {
                    background: var(--icon-pad-selected-dark);
                }
            }
        }
    }
}
