@import url("../../colors.css");

.icons-container {
    height: calc(100% - 190px);
    width: 100%;
    box-sizing: border-box;
    .icons {
        height: calc(100% - 20px);
        padding: 12px;
        box-sizing: border-box;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        gap: 5px;
        .icon {
            color: var(--font-color);
            width: 48px;
            height: 48px;

            background: var(--color-pad);
        }
    }
}

.icons-container .icons .icon:hover {
    color: var(--font-color-hover);
    background: var(--color-pad-hover);
}
.icons-container .icons .icon:focus {
    box-shadow: 0 0 0 2px var(--color-pad-hover);
}
.icons-container .icons .icon.selected {
    background: var(--color-pad-selected);
}
