@import url("../../colors.css");

.icons-container {
    height: calc(100% - 170px);
    width: 100%;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 8px;
    background-color: var(--input-bg);
    .icons {
        height: 100%;
        margin: 12px 4px 4px 4px;
        margin-top: 4px;
        padding: 4px 2px 0 11px;
        box-sizing: border-box;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        .icon {
            color: var(--font);
            width: 21px;
            height: 21px;
            padding: 10px;
            &:hover {
                color: var(--font-hover);
                background: var(--icon-pad-hover);
            }
            &:focus {
                outline: none;
                box-shadow: 0 0 0 1px inset var(--icon-pad-hover);
            }
            &.selected {
                background: var(--icon-pad-selected);
            }
        }
    }
}

body.theme-dark {
    .icons-container {
        .icons {
            .icon {
                color: var(--font-dark);
                background: var(--icon-pad-dark);
                &:hover {
                    color: var(--font-hover-dark);
                    background: var(--icon-pad-hover-dark);
                }
                &:focus {
                    box-shadow: 0 0 0 2px inset var(--icon-pad-hover-dark);
                }
                &.selected {
                    background: var(--icon-pad-selected-dark);
                }
            }
        }
    }
}
