.category {
  cursor: pointer;
  color: #007bff;
  user-select: none;
  line-height: 22px;
  position: relative;

  &::before {
    content: "📂 ";
    position: absolute;
  }
  &.collapsed .icons {
    display: none;
  }
  &.collapsed::before {
    content: "📁 ";
  }
  .category-name {
    display: block;
    background-color: #eeeeee;
    padding: 3px 0 3px 30px;
    border-radius: 3px;
    &:hover {
      box-shadow: 0 0 3px 2px #f7f7f7 inset;
    }
  }
  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
  }
  .icon {
    color: #323130;
    width: 32px;
    height: 32px;
    &:hover {
      opacity: 0.8;
    }
  }
}
